<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Witter Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">


<style>

button {
    background-color: #42d1f4;
    color: white;
    padding: 30px 20px;
    margin: 30px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    position: absolute;
}

.container {
    padding: 40px;
    text-align: center;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    margin: auto;
    text-decoration: none;
    color: initial;
}

</style>
<body>

<center>

  <div class="container">
     
    <a href="/login" class="button">Login with <font color="#4885ed">G</font>
                                            <font color="#db3236">O</font>
                                            <font color="#f4c20d">O</font>
                                            <font color="#4885ed">G</font>
                                            <font color="#3cba54">L</font>
                                            <font color="#db3236">E</font></button>
  </div>
  </center>
</form>

</body>
</html>
